@font-face {
    font-family: "PopRumCute";
    src: url("poprumcute/PopRumCute.otf") format("opentype");
}

body {
    background-color: #FBF3D5;
    margin: 0;
}

h1 {
    box-sizing: border-box;
    font-family: "PopRumCute";
    /*text-align: left;*/
    text-align: center;
    color: #bb9351;
    /*color: white;*/
    font-size: 40px;
    /*background-color: #bb9351;*/
    padding: 15px 40px;
    letter-spacing: 4px;
    margin: 0;
}

.btn {
    font-family: "PopRumCute";
    font-size: 25px;
    padding: 15px 40px;
    margin-top: 15px;
    background: linear-gradient(180deg, #ffb6c1, #ff8fab);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 8px 0 #e36b8c;
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    width: 20%;
    position: relative;
    left: 40%;
    box-sizing: border-box;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 0 #e36b8c;
}

.btn:active {
    transform: translateY(3px);
    box-shadow: 0 4px 0 #e36b8c;

}

.slider-wrapper {
    background-color:#FBF3D5;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100%; 
    display: flex;
}

.slide img {
    width: 50%;
    height: 400px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 auto;
    display: block;
}

.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: gray;
    color: white;
    border: none;
    font-size: 16px;
    padding: 10px 16px;
    cursor: pointer;         
    border-radius: 16px;
}

.prev {
    left: 10%;
}

.next {
    right: 10%;
}