@font-face {
    font-family: "riitnr";
    src: url("assets/font/RiiTN_R.otf") format("opentype");
}
body {
    background-color: #FBF3D5;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: "riitnr";
    font-size: 36px;
    margin-bottom: 80px;
    letter-spacing: 0.15em;
    color: #4A4A4A;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.btn button {
    width: 260px;
    font-size: 30px;
    padding: 30px 20px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    background-color: #9C8F84;
    color: #ffffff;
    font-family: "riitnr";
    letter-spacing: 1.5px;
}

button:hover {
    background-color: #A99D93;
    transform: translateY(-1px);
}

.icon-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
}

.icon-circle img {
    width: 100px;
    height: 100px;
}

@media (max-width: 600px) {

    h1 {
        font-size: 26px;
        margin-bottom: 30px;
    }

    .btn {
        flex-direction: column;
        gap: 24px;
    }

    .btn button {
        width: 80%;
        font-size: 22px;
        margin: 10%;
        margin-bottom: 10px;
    }

    .icon-circle {
        width: 120px;
        height: 120px;
    }

    .icon-circle img {
        width: 70px;
        height: 70px;
    }
}
